<!DOCTYPE html>

<html>

<head>
  <title>Timestamp Microservice</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="heading">
    <h1>Timestamp Microservice</h1>
  </div>
  <hr />
  <div class="container">
    <h4>Enter Date to for Output</h4>
    <form id="myForm">
      <span>Enter a valid date:</span><br> <input type="text" name="input_date" id="input">
      <br>
      <button type="submit">Submit</button>
    </form>

    <h3>Output:</h3>
    <p class="output-container">
      <code id="set-result"></code>
    </p>
  </div>
  <div class="footer">
    <p>
      By
      <span>@devHiteshK</span>
    </p>
  </div>
  <script src="./script.js"></script>
</body>
<script>
  let myForm = document.getElementById("myForm");

  myForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const data = document.querySelector('input').value;

    const response = await fetch(`./api/${data}`)
    const myJson = await response.json()
    console.log(myJson);

    document.getElementById('set-result').innerText = `${JSON.stringify(myJson)}`

  })
</script>

</html>