<!DOCTYPE html>

<html>

<head>
  <title>File Metadata</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h2>API Project: File Metadata Microservice</h2>

    <h3>Usage:</h3>
    <p>
      Please Upload a File ...
    </p>
    <div class="view">
      <h4 id="output"></h4>
      <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>
  </div>
  <div class="footer">
    <p>
      by
      <a href="http://hiteshk.dev">@devHiteshK</a>
    </p>
  </div>
</body>

</html>