@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    
}

.mainContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 20, 81);
}

#quote-box{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    height: 400px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

#text{
    margin: 15px;
}

.bottom-container{
    width: 500px;
}

#author{
    font-size: 22px;
    font-weight: 100;
    text-align: right;
    margin: 10px;
}

button{
    font-size: 17px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: aquamarine;
    margin-bottom: 30px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
    transition: 0.5s;
    color: white;
}


#forkme_banner {
    font-family: 'Raleway', sans-serif;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url(./blacktocat.png) #0090ff no-repeat 95% 50%;
    font-weight: 500;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

