<!DOCTYPE html>

<html>

<head>
  <title>Request Header Parser</title>
  <link rel="shortcut icon"
    href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h2>Request Header Parser Microservice</h2>
    <hr>
    <h4>Click to get response:</h4>
    <p>
    <form action="submit" id="myForm">
      <input type="submit" value="submit" class="button">
    </form>
    </p>

    <h3>Output:</h3>

    <p id="res" class="hidden"><span>Your IP-address:</span><code id="ip"></code><br></p>
    <p id="res1" class="hidden"><span>Language:</span><code id="lang"></code><br></p>
    <p id="res2" class="hidden"> <span>Software:</span><code id="soft"></code><br></p>

  </div>
  <div class="footer">
    <p>
      by <a href="https://hiteshk.dev" target="_blank">@devHiteshK</a>
    </p>
  </div>
</body>
<script>

  let form = document.getElementById("myForm")
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const response = await fetch("./api/whoami")
    const myJson = await response.json()

    document.getElementById('ip').innerText = " " + " " + myJson.ipaddress
    document.getElementById('lang').innerText = " " + " " + myJson.language
    document.getElementById('soft').innerText = " " + " " + myJson.software

    document.getElementById('res').classList.remove("hidden");
    document.getElementById('res1').classList.remove("hidden");
    document.getElementById('res2').classList.remove("hidden");

  });

</script>

</html>