@font-face {
    font-family: digitalFont;
    src: url(./fonts/Technology-Bold.ttf);
  }

.Container-flex{
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digital_clock_container{
    width: 400px;
    height: 100px;
    color: white;
    font-family: 'digitalFont';
    font-size: 70px;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}